<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
 <div class="h-[100vh] w-[100vw] flex items-center justify-center">
  <form class="relative space-y-3 rounded-md bg-white p-6 shadow-xl lg:p-10 border border-gray-100 m-10" method="post" action="/login"> 
    <h1 class="text-xl font-semibold lg:text-2xl">Login</h1>
    <p class="pb-4 text-gray-500">Sign in to access your account</p>
  
    <div>
      <label class=""> Username </label>
      <input name="username" type="text" placeholder="Username" class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3 outline-none focus:ring" />
    </div>
    <div>
      <label class=""> Password </label>
      <input name="password" type="password" placeholder="******" class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3 outline-none focus:ring" />
    </div>
  
    <div>
      <button type="submit" class="mt-5 w-full rounded-md bg-blue-600 p-2 text-center font-semibold text-white outline-none focus:ring">login</button>
    </div>
  </form>
 </div>


</html>