<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<script src="https://cdn.tailwindcss.com"></script>


<body>
  <div class="h-[100vh] w-[100vw] flex items-center justify-center">
    <form class="relative space-y-3 rounded-md bg-white p-6 shadow-xl lg:p-10 border border-gray-100 m-10" method="post" action="/register"> 
      <h1 class="text-xl font-semibold lg:text-2xl">Register</h1>
      <p class="pb-4 text-gray-500">Create your account</p>
    
      <div>
        <label class=""> Username </label>
        <input name="username" type="text" placeholder="Username" class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3 outline-none focus:ring" />
      </div>
      <div>
        <label class=""> Password </label>
        <input name="password" type="password" placeholder="******" class="mt-2 h-12 w-full rounded-md bg-gray-100 px-3 outline-none focus:ring" />
      </div>
    
      <div class="flex flex-col gap-2">
        <button type="submit" class="mt-4 w-full rounded-md bg-blue-600 p-2 text-center font-semibold text-white outline-none focus:ring">Register</button>
        <span class="mt-2">
          Already have a account?
         <a href="/login" class="text-blue-600" >Login</a>
        </span>
      </div>
     
    </form>
    
   </div>
</body>

</html>